.header {
  width: 100%;
  height: 88px;

  position: fixed;
  top: 0;

  padding: 25px 0;

  z-index: 2;

  background-color: #fff;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.header__nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 40px;
}

.header__list-item {
  position: relative;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.header__list-item::after {
  content: "";

  display: block;
  position: relative;
  z-index: -1;

  width: 0%;

  margin: auto;
  border-bottom: 2px solid #4448da;
  border-radius: 54px;
  bottom: -6px;

  transition: all 0.3s;
}

.header__list-item:hover,
.header__list-item_active {
  transition: all 0.4s;
  color: #4448da;
}

.header__list-item:hover::after,
.header__list-item_active::after {
  width: 100%;
}

.header__menu {
  width: 24px;
  height: 18px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;

  display: none;
}

.header__menu-item {
  width: 100%;
  display: block;
  height: 2px;

  background: #4448da;
  border-radius: 38px;
}

.header__menu-clouse {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

/* Media */

@media (max-width: 900px) {
  .header {
    overflow: hidden;
  }

  .header_mobail {
    height: 300px;

    background-color: #0b0e27;
    transition: all 0, 5s;
  }

  .header__list {
    display: flex;
    flex-direction: column;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);

    /* color: #fff; */
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem 2rem;

    font-weight: 600;
  }
  .header__list-item {
    padding-left: 0;
  }

  .header__menu {
    display: flex;

    z-index: 50;
  }
  .isOpen {
    transition: all 0.5s;
  }
}
